@use "reset/reset";
@use "variables/variables";
@use "components/hero-section/section";
@use "components/hero-section/title";
@use "components/hero-section/form";
@use "components/hero-section/header";
@use "components/destinations-section/destionations-title";
@use "components/special/offer";
@use "components/blog/blog";

main {
  padding: 0 variables.$horizontal-padding;
  font-weight: variables.$primary-font-weight;
  font-weight: variables.$primary-font-weight;
}

.section {
  display: flex;
  flex-direction: column;

  margin: variables.$vertical-margin-sections 0;

  &--destinations {
    gap: variables.$higher-section-gap;
  }

  &--special {
    gap: variables.$lower-section-gap;
  }

  &--blog {
    gap: variables.$higher-section-gap;
  }
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 52px;

  &__main-title {
    font-family: variables.$primary-font;
    color: variables.$primary-font-color;
    font-size: variables.$font-size-titles;
    font-weight: inherit;

    &::after {
      content: "";
      display: block;
      background-color: variables.$primary-color;
      height: 2px;
      width: 80%;
      margin-top: 1rem;
    }
  }
  &__subtitle {
    font-family: variables.$secondary-font;
    color: variables.$secondary-font-color;
    font-size: variables.$font-size-primary;
    font-weight: inherit;
  }
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__image {
    border-radius: variables.$secondary-border-radius;
    height: variables.$primary-image-heigth;
  }

  &__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18.5px;
    bottom: 40px;
    left: 20px;
  }

  &__title {
    font-family: variables.$primary-font;
    color: variables.$light-font-color;
    font-size: variables.$font-size-places;
    font-weight: variables.$secondary-font-weight;
  }

  &__place {
    font-family: variables.$secondary-font;
    font-weight: variables.$primary-font-weight;
    font-size: variables.$font-size-primary;
    color: variables.$light-font-color;
  }
}

.swipe {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.image {
  width: 100%;
  object-fit: cover;

  &--special {
    border-top-left-radius: variables.$main-border-radius;
    border-top-right-radius: variables.$main-border-radius;
    height: 286px;
  }

  &--blog {
    border-radius: variables.$main-border-radius;
    height: 314px;
  }
}

.button {
  font-family: variables.$secondary-font;
  font-weight: variables.$primary-font-weight;
  border-radius: variables.$border-radius-buttons;
  width: fit-content;
  color: variables.$light-font-color;
  font-size: variables.$font-size-primary;
}
