@use "../../variables/variables";

.text-place-container {
  display: flex;
  gap: 20px;
}

@media only screen and (min-width: 500px) {
  .destinations {
    &__images {
      display: flex;
    }
  }
}
