@import url(/node_modules/@fontsource/playfair-display/400.css);
@import url(/node_modules/@fontsource/rubik/400.css);

$primary-color: #ff7757;
$primary-color-light: #ffd2c7;

$secondary-color: #331811;
$secondary-color-light: #61291c;

$primary-font: "Playfair Display";
$secondary-font: "Rubik";

$font-size-titles: 2.5rem;
$font-size-primary: 1.125rem;

$primary-font-weight: 400;

$horizontal-padding: 16px;

$primary-font-color: #172432;
$secondary-font-color: #767e86;
$light-font-color: #fff;

$main-border-radius: 26px;
$secondary-border-radius: 16px;

$primary-image-heigth: 320px;

$higher-gap: 100px;
