*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  font-family: inherit;
  background-color: transparent;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}
