@use "../../variables/variables" as *;

.hero-section {
  background-image: url(/src/img/bannermontaña.webp);
  background-size: cover;
}

.company-icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  &__name {
    width: 7rem;
  }
  &__icon {
    width: 24.3px;
    height: 27.3;
  }
  &__hamburguer {
    position: absolute;
    right: 18px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
  }
}

.header {
  &__navbar {
    display: none;
  }
}
