@use "../../variables/variables" as *;

.hero-section {
  background-image: url(/src/img/bannermontaña.webp);
  background-size: cover;
}

.company-icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  &__name {
    width: 7rem;
  }
  &__icon {
    width: 24.3px;
    height: 27.3;
  }
  &__hamburguer {
    position: absolute;
    right: 18px;
  }
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
  }
}

.header {
  &__navbar {
    display: none;
    color: $light-font-color;
  }
}

@media only screen and (min-width: 950px) {
  .navbar {
    position: absolute;
    right: 16px;
    top: 43px;
    display: contents;
    display: flex;
    gap: 150px;
    justify-content: flex-end;
    a {
      font-family: $secondary-font;
      font-size: 20px;
      font-weight: 500;
      line-height: 23.7px;
    }
    &__login {
      display: flex;
      gap: 36px;
      margin-right: 32px;
    }
  }
  .menu_links {
    display: flex;
    gap: 32px;
  }
  .company-icon__hamburguer {
    display: none;
  }
}
