@use "../../variables/variables" as *;

.hero-section {
  &__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__title h1 {
    font-family: $primary-font;
    color: $light-font-color;
    font-size: $font-size-titles;
    font-weight: $primary-font-weight;
  }

  &__title p {
    font-family: $secondary-font;
    color: $light-font-color;
    font-weight: 400;
    font-size: 18px;
  }
}
